# File types
*.aux
*.bbl
*.blg
*.idx
*.lof
*.log
*.lot
*.out
*.synctex
*.toc
*.synctex(busy)
*.gz
*.asv
*.fig
*.mp4

# Directories
archive/
scratch_work/
generators/
possible/
notes/
presentation/
sentOutVersion/